@font-face { font-family: "cousine"; src: url("//glen-assets.github.io/fonts/Cousine-Regular.ttf"); }

body {
  overscroll-behavior-y:none;
}

#s-m-t-tooltip {
    position:absolute!important;
    padding:5px 10px;
    margin:-36px;
}

[nowidth]{
    width:0px!important;
    padding:0px!important;
    border-right:0px solid transparent!important;
    margin-right:-1px!important
}

.pv-img {
    box-sizing:border-box;
}

code {
    padding:1px 3px;
    background:#f2f2f2;
    border:1px solid #e9e9e9;
    border-radius:2px;
    font-family:cousine;
    font-size:11px;
}

iframe#tumblr_controls, .iframe-controls--desktop, .tmblr-iframe--app-cta-button, .tmblr-iframe--follow-teaser, .iframe-controls-container, .iframe-controls-container--unified, .iframe-controls-container--overlay, .tmblr-iframe, .iframe-controls--phone-mobile, .tmblr-iframe--unified-controls {
    display:none!important;
    visibility:hidden!important;
    height:0!important;
}
